# Logs
logs
*.log

# Dependencies
node_modules

# Build
dist
dist-ssr

# Env

# Editors
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
config.bat
